<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Archive</title>
</head>

<body>

<ul>
{% for message in messages %}
  <li><a href="{{ message.url }}">{{ message.title }}</a></li>
{% endfor %}
</ul>

Powered by <a href="https://github.com/JinweiClarkChao/ArchiveBot" target="_blank">ArchiveBot</a>
</body>
</html>
